
<form action="/random/results">

<label for="test">Minimum</label>
<input id="test" type="text" placeholder="E.g. 1.5" name="user_min">
<label for="test">Maximum</label>
<input id="test" type="text" placeholder="E.g. 4.5" name="user_max">
<button>Pick random number</button>

</form>
