<h1>"Hello World"</h1>

<form action="/random/results">

<label for="test">Enter a number</label>
<input id="test" type="text" placeholder="What number do you want to square" name="calc_value">
<button>Calculate square</button>

</form>
