
<form action="/square_root/results">

<label for="test">Enter a number</label>
<input id="test" type="text" placeholder="What number do you want to square" name="calc_value">
<button>Calculate square root</button>

</form>
