<form action="/square_root/results">

<label for="test">APR</label>
<input id="test" type="text" placeholder="E.g. 5.42" name="apr">

<label for="test1">Number of years</label>
<input id="test1" type="text" placeholder="How many years to repay?" name="term">

<label for="test2">Principal</label>
<input id="test" type="text" placeholder="How much principal?" name="principal">



<button>Calculate monthly payment</button>

</form>
